.boven {
  background: #5C192B;
  overflow: auto;
  font-family: Helvetica;
  color: white;
  font-size: 12px;
  padding: 12px;
  width: 1200px;
  height: 52px;
}

img.logo {
  width: 100px;
  height: 100px;
}

.header {
  background: #1A1919;
  padding: 12px;
  width: 1200px;
  height: 90px;
}

.hoofdnavigatie {
  font-family: Arial;
  color: white;
  font-size: 13px;
  margin: 25px;
}

img.oma {
  width: 1200px;
  height: 590px;
}